p {
	font-family: Arial
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header {
  overflow: hidden;
  background-color: #D9D9D9;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}



/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header-right a:hover {
  background-color: #282526;
  color: #FBF9EC;
}

/* Style the active/current link*/
.header a.active {
  background-color: #BB9228;
  color: #FBF9EC; 
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
div#backgroundimg{
  background-image: urlurl(https://i.imgur.com/9mtqMga.jpg);
  background-position: center top, center top;
  background-repeat: repeat-y;
}


div#wrapperHeader div#header {
 width:1920px;
 height:200px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width:1440;
 height:200;
 margin:0 auto;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 2%;
  left: 8%;
 
  
}
.imgteam {
  max-width: 20%;
  max-width: 140px;
  height: auto;
}
.imgmerritt {
	max-width: 24%;
	height: auto;
}
.bckgrd {
  background-size: 100% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
hr {
	position: relative;
	width: 65%;
	text-aligh: left;
}
*/
